<div>
    @if (!usersData.length) {
    <span class="empty">{{ emptyData }}</span>
    } @else {
    <div class="table-wrapper" (scroll)="onScrollTable($event)">
        <table class="table">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Click 'Details' to view more information about the user</th>
                </tr>
            </thead>

            <tbody>
                <!-- purpose of track is for the reusability of DOM elements -->
                @for (data of usersData; track data.id) {
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.name }}</td>
                    <td>
                        <a [routerLink]="['/users', data.id]">Details</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        @if (usersStore.progressState() === 'loading') {
        <div class="gap">Loading…</div>
        }
        
        @if (usersStore.progressState() === 'loaded' && !usersStore.hasMoreUserData()) {
        <div class="gap">All the user data have been fetched</div>
        }
    </div>
    }
</div>