.empty {
  color: var(--grey-450);
}

.table-wrapper {
  height: 15rem;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid var(--grey-250);

  .gap {
    margin-block: 1rem;
    margin-inline-start: 1rem;
  }

  .table {
    width: 100%;
    border-radius: 5px;

    th,
    td {
      padding: 1rem;
      border-bottom: 1px solid var(--grey-250);
      text-align: left;
    }

    thead th {
      background: var(--grey-100);
      font-weight: bold;
    }
  }
}
