<div class="listings">
  <div>
    <span class="total-count">
      Total Number of Users: {{ usersStore.numberOfUsers() }}
    </span>
  </div>

  <div class="progress">
    <span [class]="usersStore.progressState()">{{ usersStore.progressMessage() }}</span>
  </div>

  <div class="filter-container">
    <div>
      <label>
        Filter by Occupation:
        <input #occupationValue type="text" placeholder="eg: pilot" [value]="usersStore.filteredOccupation()"
          (input)="usersStore.setFilteredOccupation(occupationValue.value)" />
      </label>
    </div>

    <button class="cta-btn" type="button" (click)="usersStore.clearFilteredOccupation()">Clear</button>
  </div>

  <app-users-data-table [usersData]="usersStore.filteredDisplayedUsersByOccupation()" />

  <button class="cta-btn" (click)="usersStore.userLogout()">
    Logout
  </button>

  <button class="cta-btn" routerLink="/todo-list">
    Todo List
  </button>
</div>