<div class="listings">
  <div>
    <span class="total-count">
      Total Number of Users: {{ usersStore.numberOfUsers() }}
    </span>
  </div>

  @let currentState = usersStore.progressState();

  <div class="progress">
    <span [class]="currentState">
      {{
        currentState === 'loading' ? progressMessage['loading'] :
        currentState === 'error' ? progressMessage['error'] :
        currentState === 'loaded' ? progressMessage['loaded'] :
        ''
      }}
    </span>
  </div>

  <app-users-data-table [usersData]="usersStore.users()" />
</div>