.layout {
  display: grid;

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid var(--grey-250);

    .title {
      font-weight: 700;
    }
  }

  .body-container {
    padding: 16px;      

    .cta-btn {
      width: 5rem;
      padding: 0.5rem;
      border-radius: 10px;
      margin-block-start: 1rem;
    }
  }
}
